{% extends 'base.html' %}
{% block title %}Importações{% endblock %}
{% block content %}
<div class="container">

  <div class="row row-no-gutters" style="min-height:200px; margin-top: 50px; padding-bottom:20px; border-bottom: solid 1px #d2d2d2">
     <div class="col-sm-4">
        <h4 style="margin-top:0px;">Biblioteca</h4>
        <p style="text-align: justify; margin-top: 20px; font-style: italic;">Gerencie arquivos importados. Escolha os arquivos à serem utilizados para fornecer informações de catálogo e configurações.</p>
     </div>
     <div class="col-sm-8">
       <div id="accordion" style="margin-top:10px">
         <div class="card">
           <div class="card-header" id="headingOne">
             <h5 class="mb-0">
               <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 Catálogos
               </button>
             </h5>
           </div>

           <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
             <div class="card-body">
               <ul class="list-group">

                  {% for available_import in available_catalog_imports %}
                  <form action="#" method="post">
                  <input type="hidden" id="config_id" name="catalog_current" value="{{available_import}}">
                  <li class="list-group-item">{{available_import}} <span class='pull-right'><button type="submit" name="set_catalogo" value="submit"> <i class="fa fa-check" aria-hidden="true"></i></button>  <button type="submit" name="del_catalogo" value="submit"><i class="fa fa-trash" aria-hidden="true"></i> </button></span></li>
                  </form>
                  {% endfor %}

               </ul>
             </div>
           </div>
         </div>
         <div class="card">
           <div class="card-header" id="headingTwo">
             <h5 class="mb-0">
               <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Configurações
               </button>
             </h5>
           </div>
           <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
             <div class="card-body">
               <ul class="list-group">
                 {% for available_import in available_config_imports %}
                 <form action="#" method="post">
                 <input type="hidden" id="config_id" name="config_current" value="{{available_import}}">
                 <li class="list-group-item">{{available_import}} <span class='pull-right'><button type="submit" name="set_config" value="submit"> <i class="fa fa-check" aria-hidden="true"></i></button>  <button type="submit" name="del_config" value="submit"><i class="fa fa-trash" aria-hidden="true"></i> </button></span></li>
                 </form>
                 {% endfor %}
               </ul>
             </div>
           </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header">
           Padrões
         </div>
         <div class="card-body">
           <p class="card-text">Atualmente as simulações e configurações estão feitas baseadas nos arquivos:</p>
             {% if user_default_catalog == 'not_set' %}
             <p class="card-text"><b>Catálogo:</b> Não há arquivo de catálogo configurado como padrão.</p>
             {% else %}
             <p class="card-text"><b>Catálogo:</b> <i>{{ user_default_catalog }}</i>.</p>
             {% endif %}
             {% if user_default_config == 'not_set' %}
             <p class="card-text"><b>Configurações:</b> Não há arquivo de configurações definido como padrão.</p>
             {% else %}
             <p class="card-text"><b>Configurações:</b> <i>{{ user_default_config }}</i>.</p>
             {% endif %}
         </div>
       </div>
     </div>
     </div>


  <div class="row row-no-gutters" style="margin-top:50px;">
     <div class="col-sm-4">
        <h4 style="margin-top:0px;">Importar novos arquivos</h4>
        <p style="text-align: justify; margin-top: 20px; font-style: italic;">Configure um novo pré-requisito para uma disciplina.</p>
     </div>
     <div class="col-sm-8">
       <form action='/importacoes/' method='post' enctype="multipart/form-data" style="margin-top:10px;">
          <div class="input-group mb-3">
             <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="catalogo">
                <label class="custom-file-label" for="inputGroupFile01">Escolher catálogo</label>
             </div>
          </div>
          <div class="input-group mb-3">
             <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="configs">
                <label class="custom-file-label" for="inputGroupFile01">Escolher configuração adicional</label>
             </div>
          </div>
          <button name="importar" type="submit" value="submit" class="btn btn-primary" style="margin-top:20px; float:right; width:200px;">Importar</button>
       </form>
     </div>
     </div>






</br></br>



</div>
{% endblock %}
