{% extends 'base.html' %}
{% block title %}Pré-requisitos{% endblock %}
{% block content %}
<div class="container">
   <div class="row row-no-gutters" style="min-height:200px; margin-top: 50px; margin-bottom: 20px;">
      <div class="col-sm-4">
         <h4 style="">Listar pré-requisitos</h4>
         <p style="text-align: justify; margin-top: 20px; font-style: italic;">Selecione uma ou mais disciplinas para visualizar os pré-requisitos.</p>
      </div>
      <div class="col-sm-8">
         <form action='#' method='post' style="margin-top:30px;">
            <div class="form-group">
               <select multiple class="form-control" id="exampleFormControlSelect2" name="selected_subjects">
                  {% for subject in subjects %}
                  <option>{{ subject }}</option>
                  {% endfor %}
               </select>
            </div>
            <button type="submit" name="list_prereqs" value="submit" class="btn btn-primary" style="margin-top:20px; float:right; width:200px;">Listar pré-requisitos</button>
         </form>
      </div>
   </div>
   {% if selected_subjects |count !=0 %}
   {% for selected_subject in selected_subjects %}
   <div class="accordion" id="accordionExample" style="margin-top:15px">
      <div class="card">
         <div class="card-header" id="headingOne">
            <h2 class="mb-0">
               <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{selected_subject}}" aria-expanded="true" aria-controls="collapseOne">
               {{ selected_subject }}
               </button>
            </h2>
         </div>
         <div id={{selected_subject}} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="padding-bottom:40px;">
            <div class="card-body">
               <h4>Pré-requisitos:</h4>
               <ul>
                  <li>{{ prereqs_dict[selected_subject] }}</li>
               </ul>
               <form action='#' method='post'>
                  <div class="input-group mb-3" style="margin-top:15px;">
                     <input type="hidden" id="custId" name="pre_req_will_be_Added" value="{{selected_subject}}">
                     <div class="input-group-prepend">
                        <button type="submit" name="add_subject" value="submit" class="btn btn-outline-secondary">Adicionar pré-requisito:</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                           <button type="submit" class="dropdown-item" name="clear_prereqs" value="submit">Remover pré-requisitos</button>
                        </div>
                     </div>
                     <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" name="subj" placeholder="ID da disciplina">
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   {% endif %}
</div>
{% endblock %}
